.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle, .yearGroupHeading {
  font-size: var(--text-2xl);
  font-family: var(--font-display);
  font-weight: 600;
}

.sidebarItemList {
  font-size: 0.9rem;
  list-style: none;
  padding-left: 0;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}

.yearGroupHeading {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}
