.checkboxGroup {
  padding: 0 !important;
  gap: 1rem;
}

.label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  margin-right: 0.5rem;
}

.viewMoreButton {
  background: none;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 16px;
  border: none;
  text-decoration: underline;
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
}

.viewMoreButton:hover {
  text-decoration: underline;
}

.selectAllContainer {
  margin-bottom: 0.5rem;
}

.selectAllButton {
  background: none;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 16px;
  border: none;
  text-decoration: underline;
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
}

.selectAllButton:hover {

} 
