@import './tokens.css';

:root {
  /* Font Families */
  --font-display: 'polymath', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'segoe ui',
    'Ubuntu', 'roboto', 'noto', Arial, sans-serif;
  --font-sans: 'polymath-text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'segoe ui', 'Ubuntu', 'roboto', 'noto', Arial, sans-serif;
  --font-mono: 'ibm-plex-mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
    Consolas, monospace;

  /* Text Size Scale */
  --text-xs: 0.75rem;    /* 12px */
  --text-sm: 0.875rem;   /* 14px */
  --text-base: 1rem;     /* 16px */
  --text-lg: 1.125rem;   /* 18px */
  --text-xl: 1.25rem;    /* 20px */
  --text-2xl: 1.5rem;    /* 24px */
  --text-3xl: 2rem;      /* 32px */
  --text-4xl: 2.25rem;   /* 36px */
  --text-5xl: 3rem;      /* 48px */
  --text-6xl: 4rem;      /* 64px */
  --text-7xl: 4.5rem;    /* 72px */
  --text-8xl: 5.5rem;    /* 88px */
}

/* Typography Utility Classes */

/* Display Headings */
.heading-display {
  font-family: var(--font-display);
  font-size: var(--text-6xl);
  font-weight: 600;
  line-height: 1;
}

/* Heading Levels */
.heading-1 {
  font-family: var(--font-display);
  font-size: var(--text-6xl);
  font-weight: 600;
  line-height: 1.2;
}

.heading-2 {
  font-family: var(--font-display);
  font-size: var(--text-5xl);
  font-weight: 600;
  line-height: 1.2;
}

.heading-3 {
  font-family: var(--font-display);
  font-size: var(--text-4xl);
  font-weight: 600;
  line-height: 1.2;
}

.heading-4 {
  font-family: var(--font-display);
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: 1.2;
}


.heading-5 {
  font-family: var(--font-display);
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 996px) {
  .heading-1 {
    font-size: var(--text-5xl);
  }
  .heading-2 {
    font-size: var(--text-3xl);
  }
  .heading-3 {
    font-size: var(--text-2xl);
  }
}

/* Tag Style */
.tag {
  color: var(--text-accent-primary);
  background-color: var(--bg-accent-subtle);
  border-radius: 4px;
  padding: 0.25rem;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  font-weight: 500;
  display: block;
  width: max-content;
  margin-bottom: 1rem;
}

/* Text Styles */
.text-body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: 1.5;
}

.text-mono {
  font-family: var(--font-mono);
  font-size: var(--text-base);
  line-height: 1.5;
} 

.eyebrow {
  color: var(--text-accent-primary);
  font-family: var(--font-mono);
  font-size: var(--text-base);
  font-weight: 500;
  margin-bottom: .5rem;
  display: inline-block;
}

html[data-theme="dark"] {
  .eyebrow {
    color: var(--text-inverse-accent-primary);
  }
}
