.quickstartCardSection {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
}

.quickstartHero h1 {
    font-size: clamp(var(--ifm-h1-font-size) * 0.9375, 1vw, var(--ifm-h1-font-size));
    --ifm-h1-font-size: 3rem;

}

@media (max-width: 576px) {
    .quickstartHero h1 {
        --ifm-h1-font-size: 2rem;
    }
}

.quickstartHero p {
    font-size: 1.25rem;
    margin: 0 auto;
}

.quickstartCardWrapper {
   width: 100%;
}

@media (max-width: 1024px) {
  .quickstartCardWrapper {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .quickstartCardWrapper {
    width: 100%;
  }
}

.quickstartCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1rem;
}

.quickstartFilterContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    outline: 1px solid #EFF2F3;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    position: sticky;
    top: 100px;
    z-index: 10;
    background: #fff;
}

.quickstartFilterContainer h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #262A38;
}

.clearAllFiltersButton {
    padding: 8px 16px;
    border: 1px solid #6B7280;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    margin-top: 16px;
    color: var(--ifm-font-color-base);
    font-family: var(--ifm-font-family-base);
    font-size: 1rem;
    width: 100%;
  }
  
  .clearAllFiltersButton:hover {
    background: #067377;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }

    [data-theme='dark'] .clearAllFiltersButton {
    color: #fff;
    }

  .guideSection {
    margin-bottom: 2rem;
  }

  .guideSection h3 {
    margin-bottom: 0;
  }

@media (max-width: 768px) {
    .quickstartCardContainer, .quickstartFilterContainer {
        grid-template-columns: 2fr;
    }
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 !important;
}

.expandButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease;
}

.expandButton.expanded .arrow {
  transform: rotate(180deg);
}

.filterContent {
  display: block;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .quickstartCardSection {
      flex-direction: column;
      padding: 1rem;
  }

  .quickstartFilterContainer {
    padding: 1rem;
    max-width: 100%;
  }

  .expandButton {
    display: block;
  }

  .filterContent {
    display: none;
    overflow: hidden;
  }

  .filterContent.expanded {
    display: block;
  }
}
