.quickstartCardSection {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.quickstartHero h1 {
    font-size: clamp(var(--ifm-h1-font-size) * 0.9375, 1vw, var(--ifm-h1-font-size));
    --ifm-h1-font-size: 3rem;

}

@media (max-width: 576px) {
    .quickstartHero h1 {
        --ifm-h1-font-size: 2rem;
    }
}

.quickstartHero p {
    font-size: 1.25rem;
    margin: 0 auto;
}

.quickstartCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.quickstartFilterContainer  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 340px;
    outline: 1px solid #EFF2F3;
    border-radius: 10px;
    box-shadow: 0px 11px 24px rgba(138, 138, 138, .1);
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

.clearAllFiltersButton {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    margin-top: 16px;
    color: var(--ifm-font-color-base);
    font-family: var(--ifm-font-family-base);
  }
  
  .clearAllFiltersButton:hover {
    background: #f5f5f5;
  }


@media (max-width: 996px) {
    .quickstartCardContainer, .quickstartFilterContainer {
        grid-template-columns: 1fr;
    }
}
