.quickstartCardSection {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
}

.quickstartHeroCol  {
  min-width: 840px;
  width: 100%;
  padding: 0 1rem !important;
}

@media (max-width: 840px) {
  .quickstartHeroCol  {
    min-width: 0;
  }
}

.searchInput {
  margin-top: 2rem !important;
}

.quickstartHero h1 {
    font-size: clamp(var(--ifm-h1-font-size) * 0.9375, 1vw, var(--ifm-h1-font-size));
    --ifm-h1-font-size: 3rem;

}

@media (max-width: 576px) {
    .quickstartHero h1 {
        --ifm-h1-font-size: 2rem;
    }
}

.quickstartHero p {
    font-size: 1.25rem;
    margin: 0 auto;
}

.quickstartCardWrapper {
   width: 70%;
   margin-right: auto;
}

@media (max-width: 1024px) {
  .quickstartCardWrapper {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .quickstartCardWrapper {
    width: 100%;
  }
}

.quickstartCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1rem;
}

.quickstartFilterContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    width: 300px;
    border: 1px solid var(--border-neutral-tertiary);
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    position: sticky;
    top: 100px;
    z-index: 10;
    background: var(--bg-surface-default);
    transition: top 0.3s ease;
    margin: 0;
}

@media (max-width: 1024px) {
  .quickstartFilterContainer {
    width: 200px;
  }
}

@media (max-width: 768px) {
    .quickstartFilterContainer {
        width: 100%;
    }
}

[data-theme='dark'] .quickstartFilterContainer {
  background: var(--bg-surface-inverse);
  border-color: var(--border-inverse-tertiary);
}

.quickstartFilterContainer h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #030711;
}

[data-theme='dark'] .quickstartFilterContainer h3 {
  color: #fff;
}

.clearAllFiltersButton {
  padding: 8px 16px;
  border: 1px solid var(--border-neutral-tertiary);
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  color: var(--text-neutral-primary);
  font-family: var(--ifm-font-family-base);
  font-size: 1rem;
  width: 100%;
  }
  
  .clearAllFiltersButton:hover {
    background: var(--bg-neutral-primary-hover);
    color: var(--text-neutral-primary);
    transition: all 0.2s ease-in-out;
  }

  [data-theme='dark'] .clearAllFiltersButton {
    color: var(--text-inverse-primary);
    border-color: var(--border-inverse-tertiary);
  }

  [data-theme='dark'] .clearAllFiltersButton:hover {
    background: var(--bg-neutral-primary-hover);
    color: var(--text-neutral-primary);
    transition: all 0.2s ease-in-out;
    border-color: var(--border-inverse-tertiary);
  }

  .guideSection {
    margin-bottom: 2rem;
  }

  .guideSection h3 {
    margin-bottom: 0;
  }

@media (max-width: 768px) {
    .quickstartCardContainer, .quickstartFilterContainer {
        grid-template-columns: 2fr;
    }

    .quickstartFilterContainer {
        padding: 1rem;
        max-width: 100%;
        top: 10px;
    }

    .quickstartFilterContainer.scrolled {
        top: 100px;
    }

    .quickstartFilterContainer.expanded {
        top: 10px !important;
    }
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 !important;
}

.expandButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  color: #fff;
}

.expandButton.expanded .arrow {
  transform: rotate(180deg);
}

.filterContent {
  display: block;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .quickstartCardSection {
      flex-direction: column;
      padding: 1rem;
  }

  .quickstartFilterContainer {
    padding: 1rem;
    max-width: 100%;
  }

  .expandButton {
    display: block;
  }

  .filterContent {
    display: none;
    overflow: hidden;
  }

  .filterContent.expanded {
    display: block;
  }
}
