.feedbackContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feedbackContainer h2 {
  margin-bottom: 0;
}

.feedbackContainer .feedbackButtons {
  display: flex;
  gap: .75rem;
  position: relative;
}

.feedbackContainer .feedbackButton {
  background-color: transparent;
  color: var(--ifm-heading-color);
  border: 1px solid var(--color-neutral-primary);
  transition: all 0.3s ease;
  border-radius: .75rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
} 

.feedbackContainer .feedbackButton:hover:not(:disabled) {
  background-color: var(--color-neutral-secondary);
  border-color: var(--color-neutral-secondary);
  color: var(--color-white);
  cursor: pointer;
}

.feedbackContainer .feedbackButtonSelected {
  background-color: var(--color-neutral-secondary);
  border-color: var(--color-neutral-secondary);
  color: var(--color-white);
}

.feedbackContainer .feedbackButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.feedbackContainer .feedbackButtons .feedbackMessage {
  margin-bottom: 0;
  font-size: 0.9rem;
  position: absolute;
  bottom: -1.6rem;
}

.feedbackContainer .feedbackLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

html[data-theme="dark"] {
  .feedbackContainer .feedbackButton {
   background-color: var(--color-neutral-primary);
   border-color: var(--color-white);
   color: var(--color-white);
 }
 
 .feedbackContainer .feedbackButton:hover:not(:disabled) {
   background-color: color-mix(in oklab,var(--color-white)60%,transparent);
   border-color: var(--color-white);
   color: var(--color-neutral-primary);
 }

 .feedbackContainer .feedbackButtonSelected {
   background-color: color-mix(in oklab,var(--color-white)60%,transparent);
   border-color: var(--color-white);
   color: var(--color-neutral-primary);
 }
}
