.borderBeam {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: var(--border-beam-width) solid transparent;
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  mask-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

.beam {
  position: absolute;
  aspect-ratio: 1;
  background: linear-gradient(to left, var(--color-from), var(--color-to), transparent);
}
