.inputContainer {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid var(--navy-200-c-6-ccd-4, #C6CCD4);
  max-width: 350px;
  display: flex;
  align-items: center;
  margin: 1rem auto 0;
}

.inputContainer:active, .input:focus {
  border: 2px solid #4f5d75;
  outline: none;
}

.input::placeholder {
  all: unset;
  -webkit-text-security: initial;
  opacity: .5;
}

.inputContainer .input {
  border: none;
  font-size: .975rem;
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
  background: none;
  padding-left: .5rem;
}

[data-theme='dark'] .input{
  background: transparent;
  color: #e3e3e3;
}

.inputContainer > svg {
  fill: var(--ifm-font-color-base);
  width: 16px;
  height: 25px;
  opacity: .5;
}
