:root {
  --border-radius: 10px;
}

.card {
  border: 1px solid var(--border-neutral-tertiary);
  border-radius: 16px;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
}

.cardWrapper, .cardWrapper article {
  height: 100%;
}

.cardWrapper h3 {
  font-size: var(--text-2xl);
  line-height: 1.875rem;
}

.cardWrapper a {
  color: inherit;
}
.cardWrapper a:hover {
  text-decoration: none;
}

.cardBody {
  margin-bottom: 20px;
  color: var(--text-neutral-secondary);
}

.cardBody a, .cardBody a:hover {
  text-decoration: underline;
}

.icon {
  margin-bottom: 1.5rem;
  max-width: 25px;
  font-size: 25px;
}
.dbt-core {
  max-width: 165px;
}

.pillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.pill {
  border-radius: 1.5rem;
  background: #E5E7EB;
  color:#030711;
  padding: 0rem 0.75rem;
  font-size: 16px;
}

html[data-theme="dark"] .pill {
  background: #374151;
  color: #fff;
}
