.card {
  border: 1px solid var(--border-neutral-tertiary);
  border-radius: 16px;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  background-color: var(--bg-surface-default);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.cardWrapper, .cardWrapper article {
  height: 100%;
}

.cardWrapper a {
  color: inherit;
}
.cardWrapper a:hover {
  text-decoration: none;
}

.cardBody {
  color: var(--text-neutral-secondary);
}

.cardBody a, .cardBody a:hover {
  text-decoration: underline;
}

.icon {
  margin-bottom: 1.5rem;
  max-width: 30px;
  font-size: 25px;
}
.dbt-core {
  max-width: 165px;
}

.pillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.pill {
  border-radius: 1.5rem;
  background: #E5E7EB;
  color:#030711;
  padding: 0rem 0.75rem;
  font-size: 16px;
}

html[data-theme="dark"] {

  .card {
    background-color: var(--bg-surface-inverse);
    border-color: var(--border-inverse-tertiary );
  }

  .cardBody {
    color: var(--text-inverse-secondary);
  }
}



html[data-theme="dark"] .pill {
  background: #374151;
  color: #fff;
}
