
.carouselContainer :global(.swiper) {
  padding: 1rem 1rem 2rem 1rem;
}

.carouselContainer :global(.swiper-slide) {
  height: auto;
  display: grid;
  width: calc(33.333% - .5rem) !important;
}

@media (max-width: 1024px) {
  .carouselContainer :global(.swiper-slide) {
    width: calc(50% - .5rem) !important;
  }
}

@media (max-width: 768px) {
  .carouselContainer :global(.swiper-slide) {
    width: 100% !important;
  }
}

.carouselContainer :global(.swiper-wrapper) {
  gap: 1rem;
}

.carouselContainer :global(.swiper-button-next),
.carouselContainer :global(.swiper-button-prev) {
  color: var(--ifm-color-primary);
} 

.carouselContainer :global(.guides-carousel) :global(.slick-slide) {
    max-width: 400px;
    margin: 0 auto;
}
  
.carouselContainer :global(.guides-carousel) :global(.slick-slide > div) {
    height: 100%;
    display: flex;
    justify-content: center;
}

.carouselContainer :global(.swiper-button-next.swiper-button-disabled),
.carouselContainer :global(.swiper-button-prev.swiper-button-disabled) {
    opacity: 0;
}
