.quickstartTitle {
    margin-bottom: .5rem !important;
}

.tocList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 370px;
    flex-shrink: 0;
    padding-right: 4rem;
    margin-right: 4rem;
    border-right: solid 4px #EFF2F3;
}

.tocList li {
    padding: 1rem;
    display: block;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
    color: var(--color-neutral-primary);
    border: 1px solid var(--border-neutral-tertiary);
    border-radius: 12px;
    background: var(--bg-surface-default);
    text-decoration: none;
}

.tocList li span {
    border-radius: 8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: var(--text-neutral-primary);
    border: solid 1px var(--border-neutral-tertiary);
    margin-bottom: auto;
}

.tocList .active span {
    background: var(--color-terminal-black-200);
    color: var(--text-neutral-primary);
}

html[data-theme="dark"] .tocList li {
    color: var(--text-inverse-primary);
    border-color: var(--border-inverse-tertiary);
    background: var(--bg-surface-inverse);
}

html[data-theme="dark"] .tocList li span {
    border-color: var(--border-inverse-tertiary);
    color: var(--text-inverse-primary);
}

html[data-theme="dark"] .tocList .active span {
    border-color: var(--border-inverse-tertiary);
    color: var(--text-neutral-primary);
}

.tocItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.buttonContainer a {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid var(--border-neutral-tertiary);
    border-radius: 12px;
    background: var(--bg-surface-default);
    color: var(--text-neutral-primary);
    font-family: var(--ifm-font-family-base);
    font-size: 1rem;
    width: 125px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.buttonContainer a:hover {
    background: var(--bg-neutral-primary-hover);
    color: var(--text-neutral-primary);
}


html[data-theme="dark"] .buttonContainer a {
    color: var(--text-inverse-primary) !important;
    border-color: var(--border-inverse-tertiary);
    background: var(--bg-surface-inverse);
}

html[data-theme="dark"] .buttonContainer a:hover {
    background: var(--bg-surface-inverse);
    color: var(--text-neutral-primary);
    border-color: var(--border-inverse-tertiary);
}

.buttonContainer .prevButton {
    margin-right: auto;
}

.buttonContainer .prevButton i {
    font-size: .8rem;
    margin-right: .4rem;
}

.buttonContainer > a > svg {
    width: 11.2px;
    fill: black;
    margin-bottom: -1px;
}

.buttonContainer > a:hover > svg {
    width: 11.2px;
    fill: var(--text-neutral-primary);
}

html[data-theme="dark"] .buttonContainer > a > svg {
    fill: var(--text-inverse-primary);
}

html[data-theme="dark"] .buttonContainer > a:hover > svg {
    fill: var(--text-inverse-primary);
}

.buttonContainer .prevButton svg {
  margin-right: .4rem;
}
.buttonContainer .nextButton svg {
  margin-left: .4rem;
}

.buttonContainer .nextButton {
    margin-left: auto;
}

.buttonContainer .nextButton i {
    font-size: .8rem;
    margin-left: .4rem;
}

.stepWrapper[data-step="1"] a.nextButton {
    background: var(--color-transform-orange-600);
    color: var(--text-neutral-primary);
    fill: var(--text-neutral-primary);
}

.stepWrapper[data-step="1"] a.nextButton > svg {
    fill: var(--text-neutral-primary);
}

html[data-theme="dark"] .stepWrapper[data-step="1"] a.nextButton, html[data-theme="dark"] .stepWrapper[data-step="1"] a.nextButton > svg {
    color: var(--text-inverse-primary) !important;
    fill: var(--text-inverse-primary) !important;
}

.stepWrapper.hidden {
    display: none;
}

.hidden {
    display: none;
}

.toc_menu_btn {
    display: none;
}

.toc_menu_btn i, .toc_menu_btn svg {
    transform: rotate(-90deg);
    vertical-align: middle;
}

.toc_menu_btn svg {
  width: 10px;
  fill: var(--ifm-link-color);
}

.toc_menu_btn:hover svg {
  width: 10px;
  fill: var(--ifm-link-hover-color);
}

@media (max-width: 996px) {
    .tocList {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
        display: none;
    }

    .toc_menu_btn {
        display: inline-block;
        margin-bottom: 2rem;
        cursor: pointer;
    }
}
