:local(.link) :local(.headerText) {
    color: rgba(18, 12, 12, 0.862);
    text-decoration: none;
    font-weight: 600;
    transition: text-decoration 0.3s; /* Smooth transition */
}

:local(.link:hover) :local(.headerText),
:local(.link:focus) :local(.headerText) {
    text-decoration: underline;
    cursor: pointer;
}

:local(html[data-theme='dark'] .link) :local(.headerText) {
    color: rgba(255, 255, 255, 0.801);
}

:local(.disclaimer) {
    font-size: 0.8em;
    color: var(--color-terminal-black-500);
    margin-left: 10px; /* Adjust as needed */
    text-decoration: none;
}

:local(.toggle) {
    background-image: var(--ifm-menu-link-sublist-icon);
    background-size: 1.25rem 1.25rem;
    background-position: center;
    content: ' ';
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
    transition: transform 0.3s; /* Smooth transition for toggle icon */

}

:local(.toggleUpsideDown) {
    transform: rotateX(180deg)
}

/* hack for unswizzled FAQ arrows */
:local(html[data-theme='dark'] .toggle) {
    filter: invert(1);
}

:local(.body) {
    margin-left: 2em;
    margin-bottom: 10px;
    padding: 20px;
    background-color: transparent;
}

:local(html[data-theme='dark'] .body) {
  background: transparent;
}

:local(.body > p:last-child) {
    margin-bottom: 0px;
}
