.quickstartCard {
  max-width: 312px;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  position: relative;
  background: var(--ifm-footer-background-color);
  color: var(--color-white);
  border: 1px solid var(--border-neutral-tertiary);
  border-radius: 16px;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  background-color: var(--bg-surface-default);
}

[data-theme='dark'] .quickstartCard {
  background-color: var(--bg-surface-inverse);
  border-color: var(--border-inverse-tertiary);
  color: var(--text-inverse-primary);
}

@media (max-width: 768px) {
  .quickstartCard {
    max-width: 100%;
  }
}

.quickstartCard:hover h4,
.quickstartCard:hover .start {
  text-decoration: underline;
}

.quickstartCard .icon {
  max-width: 46px;
  font-size: 46px;
  margin-bottom: .8rem;
  color: var(--ifm-menu-color);
}

[data-theme='dark'] .quickstartCard .icon {
  color: #fff;
  fill: #fff;
}

.quickstartCard h4 {
  color: var(--text-neutral-primary);
}

[data-theme='dark'] .quickstartCard h4 {
  color: var(--text-inverse-primary);
}

.quickstartCard h3:hover {
  text-decoration: none;
}

.quickstartCard .time_to_complete {
  color:var(--ifm-menu-color)
}

[data-theme='dark'] .quickstartCard .recently_updated {
  color: #fff;
}

.quickstartCard .start {
  font-size: 1.125rem;
  margin-top: auto;
  padding-top: 2rem;
  font-weight: 500;
  color: var(--text-neutral-primary);
}

[data-theme='dark'] .quickstartCard .start {
  color: var(--text-inverse-primary);
}

.quickstartCard .start .right_arrow svg {
  margin-left: 4px;
  width: 12.6px;
  fill: var(--text-neutral-primary);
}
.quickstartCard .start:hover .right_arrow svg {
  fill: var(--text-neutral-primary);
}

[data-theme='dark'] .quickstartCard .start .right_arrow svg {
  fill: #fff;
}

.quickstartCard .tag_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin-top: 1rem;
}


.infoContainer {
  display: flex;
  margin-bottom: 1rem;
}

.infoContainer > * {
  border-left: solid #e0e3e8 3px;
  padding: 0 1rem 0 1rem;
}

.infoContainer > *:first-child {
  border: none;
  padding-left: 0;
}

.backButton {
  color: var(--ifm-menu-color);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.tag_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  align-items: center;
  margin-bottom: 2rem;
}

.infoContainer .time_to_complete svg {
  fill: var(--ifm-menu-color);
  width: 18px;
  margin: 0 4px -2px 0;
}

[data-theme='dark'] .infoContainer .time_to_complete svg {
  fill: #fff;
}

.infoContainer .recently_updated {
  color: var(--color-green-blue);
}

[data-theme='dark'] .infoContainer .recently_updated {
  color: #fff;
}

@media (max-width: 996px) {
  .infoContainer {
    gap: 1rem;
    flex-direction: row;
    align-items: center;
  }
  .infoContainer > * {
    border: none;
    padding: 0;
  }
}
.favoriteButton {
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteButton svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.favoriteButton:hover, .cardFavoriteButton:hover {
  color: var(--color-transform-orange-600);
}

.favoriteButton.favorited, .cardFavoriteButton.favorited {
  color: var(--color-transform-orange-600);
}

.cardFavoriteButton svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.cardFavoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}


.copy-popup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-transform-orange-600);
  color: var(--text-neutral-primary);
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}
